.circle-wcu {
    fill: #58BEBF;
    fill-opacity: 0.2;
}
.wcu-card:hover .circle-wcu {
    fill-opacity: 100;
    fill: #F78434;
}
.icon-wcu {
    fill: #58BEBF;
}
.wcu-card:hover .icon-wcu {
    fill: #fff;
}
.circle-wcu2 {
    fill: #58BEBF;
    fill-opacity: 0.2;
}
.icon-wcu2 {
    fill: #58BEBF;
}
.wcu-card:hover .circle-wcu2 {
    fill-opacity: 100;
    fill: #F78434;
}
.wcu-card:hover .icon-wcu2 {
    fill: #fff;
}